.resultWrapper2{
    background-color: #ffffff;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
.resultGroup {
      text-align: left;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid #d4d4d4;
  
      &:hover {
        background-color: #e9e9e9;
      }
  
      h3{
        font-size:18px;
        margin: 0;
        color: #000000;
      }
  
      p{
        font-size: 12px;
        margin: 0;
        color: #606060;
      }
    
}

.active {
    background-color:#9e9e9e !important;
    color: #ffffff;
    border-left: 5px solid #0d0e0e;
    h3,p{
        color: #ffffff;
    }
}
}
.descWrapper{
    padding: 11px 10px 1px 10px;
    text-align: left;
    background-color:  #1e90ff;
    p{
        margin-top: 1px;
        color: #ffffff;
        font-size: 14px;
    }
}